<p class=MsoNormal>Acumulado Joven desde 22/10/2013:
    <o:p></o:p>
</p>
<p class=MsoNormal>Nueva Tarjeta: 146058
    <o:p></o:p>
</p>
<p class=MsoNormal>Renovación Abono: 58398
    <o:p></o:p>
</p>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>
<p class=MsoNormal>Acumulado Normal desde 14/05/2014:
    <o:p></o:p>
</p>
<p class=MsoNormal>Nueva Tarjeta: 80140
    <o:p></o:p>
</p>
<p class=MsoNormal>Renovación Abono: 87092
    <o:p></o:p>
</p>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>
<p class=MsoNormal>Acumulado Tercera Edad desde 15/06/2014
    <o:p></o:p>
</p>
<p class=MsoNormal>Nueva Tarjeta: 7740
    <o:p></o:p>
</p>
<p class=MsoNormal>Renovación Abono: 24354
    <o:p></o:p>
</p>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>
<p class=MsoNormal>Acumulado Extravío &nbsp;desde 07/01/2015
    <o:p></o:p>
</p>
<p class=MsoNormal>Extravío: 13159
    <o:p></o:p>
</p>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>
<p class=MsoNormal>Acumulado Infantil desde el 06/03/2015
    <o:p></o:p>
</p>
<p class=MsoNormal>18655 Solicitudes
    <o:p></o:p>
</p>
<p class=MsoNormal>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <o:p></o:p>
</p>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=476
       style='width:357.0pt;margin-left:-.9pt;border-collapse:collapse'>
    <tr style='height:15.75pt'>
        <td width=476 colspan=3 valign=bottom
            style='width:357.0pt;border:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style='color:black;mso-fareast-language:ES'>TAA (Particulares)<o:p></o:p></span></p>
        </td>
    </tr>
    <tr style='height:15.75pt'>
        <td width=159 valign=bottom
            style='width:119.0pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Joven<o:p></o:p></span></p>
        </td>
        <td width=159 valign=bottom
            style='width:119.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Normal<o:p></o:p></span></p>
        </td>
        <td width=159 valign=bottom
            style='width:119.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Tercera Edad<o:p></o:p></span></p>
        </td>
    </tr>
    <tr style='height:15.75pt'>
        <td width=159 valign=bottom
            style='width:119.0pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: 0<o:p></o:p></span>
            </p>
        </td>
        <td width=159 valign=bottom
            style='width:119.0pt;border:none;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: 0<o:p></o:p></span>
            </p>
        </td>
        <td width=159 valign=bottom
            style='width:119.0pt;border:none;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: 0<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='height:15.75pt'>
        <td width=159 valign=bottom
            style='width:119.0pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Renovación Abono: 0<o:p></o:p></span>
            </p>
        </td>
        <td width=159 valign=bottom
            style='width:119.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Renovación Abono: 0<o:p></o:p></span>
            </p>
        </td>
        <td width=159 valign=bottom
            style='width:119.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Renovación Abono: 0<o:p></o:p></span>
            </p>
        </td>
    </tr>
</table>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>
<p class=MsoNormal><u>
        <o:p><span style='text-decoration:none'>&nbsp;</span></o:p>
    </u></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=476
       style='width:357.0pt;margin-left:-.9pt;border-collapse:collapse'>
    <tr style='height:15.75pt'>
        <td width=476 colspan=3 valign=bottom
            style='width:357.0pt;border:solid windowtext 1.0pt;border-right:solid black 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style='color:black;mso-fareast-language:ES'>TAA (Particulares) [Acumulado desde 08/11/2013]<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='height:15.75pt'>
        <td width=159 valign=bottom
            style='width:119.0pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Joven<o:p></o:p></span></p>
        </td>
        <td width=163 valign=bottom
            style='width:122.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Normal<o:p></o:p></span></p>
        </td>
        <td width=154 valign=bottom
            style='width:115.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Tercera Edad<o:p></o:p></span></p>
        </td>
    </tr>
    <tr style='height:15.75pt'>
        <td width=159 valign=bottom
            style='width:119.0pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:none;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: &nbsp;969<o:p></o:p></span>
            </p>
        </td>
        <td width=163 valign=bottom
            style='width:122.5pt;border:none;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: 1238<o:p></o:p></span>
            </p>
        </td>
        <td width=154 valign=bottom
            style='width:115.5pt;border:none;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: 652<o:p></o:p></span>
            </p>
        </td>
    </tr>
    <tr style='height:15.75pt'>
        <td width=159 valign=bottom
            style='width:119.0pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Renovación Abono: 306<o:p></o:p></span>
            </p>
        </td>
        <td width=163 valign=bottom
            style='width:122.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Renovación Abono: 1235<o:p></o:p></span>
            </p>
        </td>
        <td width=154 valign=bottom
            style='width:115.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 3.5pt 0cm 3.5pt;height:15.75pt'>
            <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Renovación Abono: 684<o:p></o:p></span>
            </p>
        </td>
    </tr>
</table>
<p class=MsoNormal>
    <o:p>&nbsp;</o:p>
</p>
<p class=MsoNormal><u>
        <o:p><span style='text-decoration:none'>&nbsp;</span></o:p>
    </u></p>