{% extends 'mail/base.html.twig' %}

{% import 'mail/dia_semana.twig' as dias %}

{% block body %}
    <div class=WordSection1>
    <p class=MsoNormal>Solicitudes Completadas desde el {{ dias.dia_semana(desde) }}  {{ desde|date('d/m/Y') }}
        <o:p></o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    {% include 'mail/tabla_solicitudes.html.twig' with {'solicitudes': solicitudes} %}
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>

    {% include 'mail/acumulado.html.twig' %}


    <p class=MsoNormal><b>Citas concertadas</b><span class=apple-converted-space>&nbsp;</span>del {{ hoy|date('d/m') }} al {{ manana|date('d/m') }}
        <o:p></o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
        {% include 'mail/tabla_oficinas.html.twig' with {'oficinas': oficinas} %}
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <p class=MsoNormal>
        <o:p>&nbsp;</o:p>
    </p>
    <p class=MsoNormal>El listado de solicitudes se encuentra en la carpeta compartida.
        <o:p></o:p>
    </p>
    <p class=MsoNormal>Un saludo,
        <o:p></o:p>
    </p>
    </div>
{% endblock body %}