{% if solicitudes|length > 0 %}
    <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse'>
        <tr style='height:26.75pt'>
            <td width=793 colspan={{ solicitudes|length }}
                style='width:594.8pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:26.75pt'>
                <p class=MsoNormal align=center style='text-align:center'><b>TTP
                        <o:p></o:p>
                    </b></p>
            </td>
        </tr>

        <tr style='height:26.75pt'>
            {% for solicitud in solicitudes %}
                <td width=198
                    style='width:148.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:26.75pt'>
                    <p class=MsoNormal align=center style='text-align:center'><b>{{ solicitud.tipo }}
                            <o:p></o:p>
                        </b></p>
                </td>
            {% endfor %}
        </tr>
        <tr style='height:26.75pt'>

            {% for solicitud in solicitudes %}
                <td width=198
                    style='width:148.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:26.75pt'>
                    <p class=MsoNormal><span style='color:black;mso-fareast-language:ES'>Nueva Tarjeta: {{ solicitud.solicitudes|default(0)|number_format(0, ',', '.') }}</span><b>
                            <o:p></o:p>
                        </b></p>
                </td>
            {% endfor %}
        </tr>
    </table>
{% endif %}